<h1>TIPOS DE COMIDA</h1>
<h2><%= @type_of_food.name %></h2><br>

<% @type_of_food.recipe.each do |recipe| %>
  <%= link_to recipe.name, recipe %><br>
  <%= recipe.preference.name %><br>
  <%= recipe.kitchen.name %><br>
  <%= recipe.difficulty %><br>
<% end %>
