<%= render 'layouts/rigthmenu' %>
<div class="col-md-5">
  <section id="recipes">
    <h3>Últimas Receitas</h3>
    <div class="row">
      <%if @recipes.any? %>
        <% @recipes.each do |recipe| %>
        <div class="col-md-4">
          <%= image_tag recipe.foto.url(:thumb) %><br>
        </div>
        <div class="col-md-8">
          <%= link_to recipe.name, recipe %><br>
          <label for="preference">Preferencia:</label>
          <%= recipe.preference.name %><br>
          <label for="type_of_food">Tipo:</label>
          <%= recipe.type_of_food.name %><br>
          <label for="kitchen">Cozinha:</label>
          <%= recipe.kitchen.name %><br>
          <label for="difficulty">Dificuldade:</label>
          <%= recipe.difficulty %><br>
        </div>
        <% end %>
      <% else %>
        <p>Sem receitas cadastradas.</p>
      <% end %>
  </div>
  </section>
</div>
