<h1>RECEITAS</h1>
<div class="col-md-2">
  <div class="row">
    <div class="col-md-12">
      <section id="kitchens">
        <h3>Cozinhas</h3>
        <%if @kitchens.any? %>
          <% @kitchens.each do |kitchen| %>
            <%= link_to kitchen.name, kitchen %><br>
          <% end %>
        <% else %>
          <p>Sem cozinhas cadastradas.</p>
        <% end %>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section id="type_of_food">
        <h3>Tipos de Comida</h3>
        <%if @typeoffoods.any? %>
          <% @typeoffoods.each do |typeoffood| %>
            <%= link_to typeoffood.name, typeoffood %><br>
          <% end %>
        <% else %>
          <p>Sem tipos cadastrados.</p>
        <% end %>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section id="preference">
        <h3>Preferencias</h3>
        <%if @preferences.any? %>
          <% @preferences.each do |preference| %>
            <%= link_to preference.name, preference %><br>
          <% end %>
        <% else %>
          <p>Sem preferencias cadastradas.</p>
        <% end %>
      </section>
    </div>
  </div>
</div>
<div class="col-md-10">
  <section id="recipes">
    <%if @recipes.any? %>
      <% @recipes.each do |recipe| %>
        <%= link_to recipe.name, recipe %><br>
        <%= recipe.preference.name %><br>
        <%= recipe.kitchen.name %><br>
        <%= recipe.difficulty %><br>
      <% end %>
    <% else %>
      <p>Sem receitas cadastradas.</p>
    <% end %>
  </section>
</div>
