<h1>RECEITAS</h1>
<%= @recipe.name %><br>
<%= @recipe.kitchen.name %><br>
<%= @recipe.type_of_food.name %><br>
<%= @recipe.preference.name %><br>
<%= "#{@recipe.amount} pessoas" %><br>
<%= "#{@recipe.time_preparation} minutos" %><br>
<%= @recipe.difficulty %><br>
<%= @recipe.ingredients %><br>
<%= @recipe.preparation %><br>
<%= image_tag @recipe.foto.url(:thumb) %><br>
<p><%= link_to 'Voltar', recipes_path %></p>
