<h1>PREFERENCIA</h1>
<h2><%= @preference.name %></h2><br>

<% @preference.recipe.each do |recipe| %>
  <%= link_to recipe.name, recipe %><br>
  <%= recipe.preference.name %><br>
  <%= recipe.kitchen.name %><br>
  <%= recipe.difficulty %><br>
<% end %>
