<form>
  <div class="container">
    <h2>Preferência</h2>
    <h3><%= @preference.name %></h3>
    <div class="col-md-4">
      <% @preference.recipe.each do |recipe| %>
        <div class="panel panel-primary">
          <div class="row">
            <div class="col-md-12">
              <%= link_to recipe.name, recipe %><br>
              <%= recipe.preference.name %><br>
              <%= recipe.kitchen.name %><br>
              <%= recipe.difficulty %><br>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</form>
