<ul class="nav navbar-nav">
  <li>
  <%= link_to('Social Recipes', root_path) %>
  </li>
  <li>
    <%= link_to('Nova Receita', new_recipe_path) %>
  </li>
  <li>
    <%= link_to('Nova Cozinha', new_kitchen_path) %>
  </li>
  <li>
    <%= link_to('Nova Preferência', new_preference_path)  %>
  </li>
  <li>
    <%= link_to('Novo Tipo', new_type_of_food_path) %>
  </li>
</ul>
